<% provide(:title, "Edit user") %>
<h1>Päivitä profiiliasi</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@citizen) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name, "Nimi" %>
      <%= f.text_field :name %>

      <%= f.label :email, "Sähköposti" %>
      <%= f.text_field :email %>

      <%= f.label :password, "Salasana" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Vahvista salasana" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Tallenna muutokset", class: "btn btn-large btn-primary" %>
    <% end %>

    <%= gravatar_for @citizen %>
    <a href="http://gravatar.com/emails">päivitä kuva</a>
  </div>
</div>

